<!-- ======= devise/registrations/new.html.erb ======= -->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), id: "new_user") do |f| %>

    <div class="dataBox">
        <div class="dataRow fR_1">
            <h2 class="dataTitle">Register</h2>
        </div>
        <div class="dataRow">
            <div class="formLabel">firstname</div>
            <div class="formValue"><%= f.text_field :firstname, class: "signinEntry", autofocus: true %></div>
        </div>
        <div class="dataRow">
            <div class="formLabel">lastname</div>
            <div class="formValue"><%= f.text_field :lastname, class: "signinEntry", autofocus: true %></div>
        </div>
        <div class="dataRow">
            <div class="formLabel">username</div>
            <div class="formValue"><%= f.text_field :username, class: "signinEntry", autofocus: true %></div>
        </div>
        <div class="dataRow">
            <div class="formLabel">email</div>
            <div class="formValue"><%= f.email_field :email, class: "signinEntry", autofocus: true %></div>
        </div>
        <div class="dataRow">
            <div class="formLabel">password</div>
            <div class="formValue">
                <span>
                    <%= f.password_field :password, class: "signinEntry", autocomplete: "off" %>
                    <i>6 characters minimum</i>
                </span>
            </div>
        </div>
        <div class="dataRow">
            <div class="formLabel">password confirm</div>
            <div class="formValue"><%= f.password_field :password_confirmation, class: "signinEntry", autocomplete: "off" %></div>
        </div>
        <div class="dataRow">
            <div class="formLabel">&nbsp;</div>
            <div class="formValue"><%= f.submit "Register", id: "signup", class: "formBtn formBtn_green" %></div>
        </div>

        <div id="newUserSpacer" class="dataSpacer">
            &nbsp;
        </div>

        <div class="buttonRow">
            <%= link_to "Back", request.referer.present? ? request.referer : "/home", class: "formLink" %>
        </div>
    </div>
<% end %>
