<!-- ======= abstracts new_form ======= -->

<%= form_for(@abstract, url: "/signup_abstract") do |f| %>

    <!-- ======= reviewer initialize ======= -->
    <% selected_reviewer1 = nil %>
    <% selected_reviewer2 = nil %>
    <% if @abstract[:reviewer1_id] %>
        <% selected_reviewer1 = @abstract[:reviewer1_id] %>
    <% end %>
    <% if @abstract[:reviewer2_id] %>
        <% selected_reviewer2 = @abstract[:reviewer2_id] %>
    <% end %>

    <!-- ======= users selectbox ======= -->
    <% user_name_ids = [] %>
    <% @users.each_with_index do |user, index| %>
        <% fullname = user[:firstname] + " " + user[:lastname] %>
        <% user_name_ids << [fullname, user[:id]] %>
    <% end %>

    <!-- ======= entry screens ======= -->
    <div class="abstractEntryBox">

        <!-- ======= abstract ======= -->
        <%= fields_for :abstract do |abstract| %>
            <div class="abstractRow_1">
                <div id="title" class="abstractEntryGrp">
                    <p class="abstractLabel_1">title</p>
                    <%= abstract.text_field :abs_title, placeholder: "Abstract Title", class: "toggle_input title" %>
                </div>
            </div>
            <div class="abstractRow_2">
                <div id="text" class="abstractEntryGrp">
                    <p class="abstractLabel_1">text</p>
                    <%= abstract.text_area :abs_text, placeholder: "Abstract Text", class: "toggle_input text", cols: "30", rows: "6" %>
                </div>
            </div>
            <div class="abstractRow_3">
                <div id="buttonBar">
                    <button id="nextBtn" class="abstractBtn">next</button>
                </div>
            </div>
            <%= abstract.hidden_field :corr_author_id, value: current_user[:id].to_s, class: "toggle_input" %>
            <%= abstract.hidden_field :pres_author_id, value: current_user[:id].to_s, class: "toggle_input" %>
            <%= hidden_field_tag "admin_flag", @admin_flag.to_s %>
        <% end %>

        <!-- ======= authors ======= -->
        <div class="authorRow_1">
            <div id="primary" class="authorEntryGrp">
                <p class="authorLabel_1">primary author</p>
                <%= fields_for :author do |author| %>
                    <%= text_field_tag "author[firstnames][]", "Bill", id: "primary_firstname", class: "toggle_input authorName entry" %>
                    <%= text_field_tag "author[lastnames][]", "Clinton", id: "primary_lastname", class: "toggle_input authorName entry" %>
                <% end %>
                <%= fields_for :abstract_author do |abstract_author| %>
                    <%= hidden_field_tag "abstract_author[author_types][]", "primary", class: "toggle_input author" %>
                <% end %>
                <div class="radio">
                    <%= fields_for :abstract do |abstract| %>
                    <span><%= abstract.radio_button :pres_author_id, "no", class: "toggle_input presenting" %></span>
                    <% end %>
                    <span>presenting</span>
                </div>
                <%= fields_for :affiliation do |affiliation| %>
                    <%= text_field_tag "affiliation[institutions][]", "Yale", id: "primary_institution", class: "toggle_input affiliation entry" %>
                    <%= text_field_tag "affiliation[departments][]", "Law", id: "primary_department", class: "toggle_input affiliation entry" %>
                <% end %>
            </div>
            <p class="authorLabel_2">secondary authors</p>
        </div>
        <div class="authorRow_2">
            <div id="secondary_" class="authorEntryGrp">
                <%= fields_for :author do |author| %>
                    <%= text_field_tag "author[firstnames][]", "George", id: "firstname_1", class: "toggle_input authorName entry" %>
                    <%= text_field_tag "author[lastnames][]", "Bush", id: "lastname_1", class: "toggle_input authorName entry" %>
                <% end %>
                <div class="radio">
                    <%= fields_for :abstract do |abstract| %>
                        <span><%= abstract.radio_button :pres_author_id, "no", class: "toggle_input presenting" %></span>
                    <% end %>
                    <span>presenting</span>
                </div>
                <%= fields_for :affiliation do |affiliation| %>
                    <%= text_field_tag "affiliation[institutions][]", "Texas Tech", id: "primary_institution", class: "toggle_input affiliation entry" %>
                    <%= text_field_tag "affiliation[departments][]", "Fratboyism", id: "primary_department", class: "toggle_input affiliation entry" %>
                <% end %>
            </div>
        </div>
        <div class="authorRow_3">
            <div id="buttonBar">
                <button id="prevBtn" class="abstractBtn">prev</button>
                <button id="authorBtn" class="abstractBtn">add author</button>
                <button id="nextBtn" class="abstractBtn">next</button>
            </div>
        </div>

        <!-- ======= keywords ======= -->
        <%= fields_for :abstract do |abstract| %>
            <div class="keyRow_1">
                <div id="primary" class="keyGrp_1">
                    <p class="keyLabel_1">
                        <span class="keywordLabel">keyword 1</span>
                        <span class="keywordLabel">keyword 2</span>
                        <span class="keywordLabel">keyword 3</span>
                    </p>
                </div>
                <select id="keywordSelect_1" class="keyword select">
                    <option value="">keyword1</option>
                    <option value="">keyword2</option>
                    <option value="">keyword3</option>
                </select>
                <select id="keywordSelect_2" class="keyword select">
                    <option value="">keyword1</option>
                    <option value="">keyword2</option>
                    <option value="">keyword3</option>
                </select>
                <select id="keywordSelect_3" class="keyword select">
                    <option value="">keyword1</option>
                    <option value="">keyword2</option>
                    <option value="">keyword3</option>
                </select>
                <p class="keywordInfo">...select from existing keywords</p>
            </div>
            <div class="keyRow_2">
                <%= abstract.text_field :keyword_1, value: "keyword_1", class: "toggle_input keyword entry" %>
                <%= abstract.text_field :keyword_2, value: "keyword_2", class: "toggle_input keyword entry" %>
                <%= abstract.text_field :keyword_3, value: "keyword_3", class: "toggle_input keyword entry" %>
                <p class="keywordInfo">enter new keywords here, or...</p>
            </div>
            <div class="keyRow_3">
                <div id="buttonBar" class="entryGroup">
                    <button id="prevBtn" class="abstractBtn">prev</button>
                    <button id="nextBtn" class="abstractBtn">next</button>
                </div>
            </div>
        <% end %>

    </div>

<% end %>

<!-- corr_author_id, pres_author_id, reviewer1_id, reviewer2_id, presentation_id, session_sequence, abs_title, abs_text, keyword_1, keyword_2, keyword_3, present_request, present_assigned, reviewer1_rec, reviewer2_rec, accepted, invited, paper  -->
