<!-- ======= devise/unlocks/new.html.erb ======= -->

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

    <div class="dataBox">
        <div class="dataRow fR_1">
            <h2 class="dataTitle">Resend unlock instructions</h2>
        </div>
        <div class="dataRow">
            <div class="formLabel"><%= label(:username, "username") %></div>
            <div class="formValue"><%= f.text_field :username, value: "", class: "signinEntry", autofocus: true %></div>
        </div>
        <div class="dataRow">
            <div class="formLabel"><%= label(:email, "email") %></div>
            <div class="formValue"><%= f.email_field :email, value: "", class: "signinEntry", autofocus: true %></div>
        </div>
        <div class="dataRow">
            <div class="formLabel"><i>request reset form</i> </div>
            <div class="formValue"><%= f.submit "Send unlock instructiona", class: "formBtn formBtn_green" %></div>
        </div>

        <div id="resetPswdSpacer" class="dataSpacer">
            &nbsp;
        </div>

        <div class="buttonRow">
            <%= link_to "Back", request.referer.present? ? request.referer : "/home", class: "formLink" %>
        </div>
    </div>

<% end %>
