<div class="dataBox">
    <div class="dataRow fR_1">
        <h2 class="dataTitle">Administrators, Submitters, Reviewers</h2>
    </div>
    <div id="abstractsHead">
        <table id="usersStaticTable">
            <thead>
                <tr>
                    <th>user name</th>
                    <th>administrator</th>
                    <th>submitter</th>
                    <th>reviewer</th>
                    <th class="adminCell" colspan="2"><%= "edit / delete" %></th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="abstractsBody">
        <div class="adminScrollBox">
            <table id="usersScrollTable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <!-- ======= loop through all abstracts ======= -->
                    <% puts "@users.length: #{@users.length.inspect}" %>
                    <% if @users.length > 0 %>
                        <% @users.each do |user| %>
                            <tr>
                                <% fullname = user.full_name  %>
                                <td class="main-col"><%= link_to fullname, user %></td>
                                <td><%= user[:admin] %></td>
                                <td><%= user[:submitter] %></td>
                                <td><%= user[:reviewer] %></td>
                                <% if current_user[:id] == user[:id] && current_user.admin? %>
                                    <td><%= link_to 'E', edit_user_registration_path %></td>
                                    <td></td>
                                <% else %>
                                    <td></td>
                                    <td></td>
                                <% end %>
                            </tr>
                        <% end %>
                    <% else %>
                        <p>There are currently no users entered into the database.</p>
                    <% end %>
                </tbody>
            </table>
        </div>

    </div>

    <div id="roomsIndexSpacer" class="dataSpacer">
        &nbsp;
    </div>

    <div class="buttonRow fR">
        <%= link_to "Back", request.referer.present? ? request.referer : "/home", class: "formLink" %>
    </div>
</div>
