<!-- ======= devise/sessions/new.html.erb ======= -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <% puts "@msg_flag: #{@msg_flag.inspect}" %>

    <div class="dataBox">
        <div class="dataRow fR_1">
            <h2 class="dataTitle">Sign in</h2>
        </div>
        <div class="dataRow">
            <div class="formLabel"><%= label(:username, "username") %></div>
            <div class="formValue">
                <span>
                    <%= f.text_field :username, value: "", class: "signinEntry" , autofocus: true %>
                    <i>&nbsp;&nbsp;&nbsp;NOTE: please use username, not email address</i>
                </span>
            </div>
        </div>
        <div class="dataRow">
            <div class="formLabel"><%= label(:password, "password") %></div>
            <div class="formValue"><%= f.password_field :password, value: "", class: "signinEntry", autocomplete: "off" %></div>
        </div>
        <% if devise_mapping.rememberable? -%>
            <div class="dataRow">
                    <div class="formLabel"><%= f.label :remember_me %></div>
                    <div class="formValue">
                        <%= f.check_box :remember_me %>
                    </div>
                </div>
            <% end -%>
        <div class="dataRow">
            <div class="formLabel">&nbsp;</div>
            <div class="formValue"><%= f.submit "Login", id: "signin", class: "formBtn formBtn_green" %></div>
        </div>

        <div id="newSessionSpacer" class="dataSpacer">
            <%= render "devise/shared/links" %>
        </div>

        <div class="buttonRow">
            <%= link_to "Back", request.referer.present? ? request.referer : "/home", class: "formLink" %>
        </div>

    </div>

<% end %>
